@model WebsiteProject.Models.Cameras

@{
    ViewData["Title"] = "Create";
}

<div style="max-width: 65%; margin: 0 auto; text-align: center; color: white">
    <h1>Create</h1>
    <h4>Cameras</h4>
</div>
<hr />
<div class="row" style="max-width: 65%; margin: 0 auto; background-color: white;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="camera_model" class="control-label"></label>
                <input asp-for="camera_model" class="form-control" />
                <span asp-validation-for="camera_model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resolution" class="control-label"></label>
                <input asp-for="resolution" class="form-control" />
                <span asp-validation-for="resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="camera_type" class="control-label"></label>
                <input asp-for="camera_type" class="form-control" />
                <span asp-validation-for="camera_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
