
@model List<WebsiteProject.Models.Cameras>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="max-width: fit-content;">
    <img src="~/images/kamera.png" style="position: absolute; width: 30%; top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);">
</div>
<div class="mainText">
    <h1>Projekt Configuration Website</h1>
</div>
